<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/javascripts/main.js'></script>
  </head>
  <body>
    <div class="header">
        <h1>
            Song Search
        </h1>
    </div>
    <div id ="test">
    </div>
    <form id="song-search" action="javascript:void(0);">
        <label for="song-name">Song Name:</label>
        <input type="text" name="name"><br>
        <label for="song-name">Song Artist:</label>
        <input type="text" name="artist"><br>
        <input type="submit" name="submit" value="Submit"><br>
    </form>
    <div id="results" data-bind="visible: resultsVisible">
        <h1>Results</h1>
        <table class="results-table">
            <thead>
                <tr>
                    <th>Song Name</th>
                    <th>Song Artist</th>
                    <th>Pack Name</th>
                    <th>BPM</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: results">
                <tr>
                    <td data-bind="text: song_name"></td>
                    <td data-bind="text: song_artist"></td>
                    <td data-bind="text: pack_name"></td>
                    <td data-bind="text: bpm"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
