<!DOCTYPE html>
<html>
  <head>
    <title>ITG Simfile List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ITG Simfiles</h1>
    <ul>
      <%
        var list = '';
        console.log("simfiles:", itg);
        for (i = 0; i < itg.length; i++) {
          var song = itg[i];
          list += '<li>' + Object.values(song) + '</li>';
        }
      %>
      <%- list %>
    </ul>
  </body>
</html>